{% extends 'flights/base.html' %}
{% load static %}

{% block title %}Вход в систему - Билеты.ру{% endblock %}

{% block content %}
<div class="card mx-auto">
    <div class="card-body text-center">
        <h3>Введите код</h3>
        <div>
            <form method="POST" action="{% url 'user_management:verify_mfa' user_id %}" class="form text-center">
                {% csrf_token %}
                <div class="form-group text-">
                    <div class="mx-auto" style="width: 30%;">
                        <input type="text" id="otp_code" name="otp_code" maxlength="6" required
                        class="form-control" placeholder="Введите свой код">
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}